html{
    background-color: #222;
    color: #95ff89;
    font-family: "Menlo", monospace;
    font-size: 18px;
    letter-spacing: 0.05em;
}
body{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#markdown,
#preview{
    flex: 1;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    font-size: inherit;
    letter-spacing: inherit;
}
#markdown{
    background: transparent;
    color: inherit;
    border: none;
    outline: none;
    resize: none;
}

#preview{
    border-left: 2px solid #424242;
}

#markdown::-webkit-scrollbar {
    display: none;
}

#markdown {
    scrollbar-width: none;
}

#markdown {
    -ms-overflow-style: none;
}