name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Kör tester
      id: kor-tester
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Kör tester
        setup-command: npm install
        command: npm test
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        KOR-TESTER_RESULTS: "${{steps.kor-tester.outputs.result}}"
      with:
        runners: kor-tester
